# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore Eclipse project-specific files
.settings/

# Ignore Visual Studio Code related files
.vscode/

# Ignore IntelliJ IDEA project-specific files
.idea/

# Ignore binary files
bin/
